NPF_ACCESS_KEY=e94dc041f8a34f4f85a0eb5a854293d6
NPF_SECRET_KEY=bb8bb583a73ce8811a5edce3119a7b24
NPF_BASE_URL=https://api.nopaperforms.io
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=21016406@niu.edu.in
SMTP_PASS=devansh21016406
OTP_FROM_NAME=NSAT NIU